@import url(https://coolors.co/99ceff-f4f6f5-dfced5-f20602-ffc5c2);

* {
   background-color: #e9ecee;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {

   --primary-color: #00203d;
   --secondary-color: #708d81;
   --accent1-color: #eee5e9;
   --accent2-color: #bf0603;

   --heading-font: 'Madimi One', serif;
   --paragraphy-font: 'Roboto', serif;
   --nav-backgroud-color: #99ceff;
   --nav-link-color: #fef6f5;
   --nav-haver-link-color: #f20602;
   --nav-haver-background-color: #ffc5c2;
}


header, main, footer {
   max-width: 1064px;
   margin: 0 auto;
   grid: 0 auto;
   padding: 20px;
   background-color: #99ceff;

}

p {
   padding: 25px;
   font: #99ceff;
   text-align: left;

}

.hero {
  position: relative;
}

nav {
   background-color: steelblue;
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: left;
   text-align: justify;
   vertical-align: text-bottom;
}

h1 {
	font-size: 2rem;
	font-family:  Arial, sans-serif;
   text-align: center;
   font-display: flex;
}
h2 {
   font: 1em sans-serif;
   font-style: initial;
   text-align: center;
   justify-items: center;
}

.navigation li {
	flex: 1 1 100%;
   
}


body {
   font-size: 16px;
   font-family: Roboto, Arial, Helvetica, sans-serif;
}
main img{
   justify-content: right;
   text-align: left;
   flex-direction: row-reverse;
}

