@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root {
   
   --primary-color : #00203d;
   --secondary-color: #708d81;
   --accent1-color: #eee5e9;
   --accent2-color: #bf0603;
   
   --heading-font: 'Madimi One', serif;
   --paragraphy-font: 'Roboto', serif;
   --nav-backgroud-color: #99ceff;
   --nav-link-color: #fef6f5;
   --nav-haver-link-color: #f20602;
   --nav-haver-background-color: #ffc5c2;
}
body {
   font-family: var(--paragraphy font);
   max-width: 960px;
   padding: 20px;
   
   }
h1,h2,h3,h4,h5,h6 {
   font-family: var(--heading-font);
   color: var(--primary-color);
}
header {
   padding: 20px;
   background-color: var(--accent1-color);
}

p {
   padding: 25px;
}

nav {
   background-color: var(--nav-backgroud-color);
   font-size: 1rem;
   display: flex;
}

nav a {
   display: block;
   color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
   color: var(--nav-link-color);

}

nav a :hover{
   color: var(--nav-link-color);
   background-color: var(--nav-hover-background-color);
}